@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


:root{
    --orange: #F25623;
    --moreorange: #B34B06;
    --darkorange: #642818d5;
    --black: #171717;
    --grey: #DEDEDE;
    --whitee: #8c9ec5;
    --darkgrey: #4D4D4D;
    --platinum:#DADEE1;
}

.swiper-wrapper {
    transition-timing-function: linear !important;
}

.prev-btn, .next-btn {
    position: absolute;
    bottom: 0%;
    transform: translateY(-50%);
    z-index: 10
}   
.prev-btn {
    left: 10px;
}
.next-btn{
    right: 10px;
}
 